<div>
    <div class="content_about">
        <h2 id="title_about"><b>League of Legends Skins in 2021 — All You Need to Know</b></h2>
        <br />
        <img id="img_about1" src="/images/img_about1.jpg" />
        <br />
        <p id="text_img">We will get over 140 new LoL skins this year! (Credit: Riot Games)</p>
        <hr>
    </div>
    <div class="main_content">
        <p><b>How many skins will Riot publish in 2021? Which champions will receive new skins? And what will happen
            to the prestige skins? In this article, we will give you the answers to all those questions and many more.
            This is everything we know about League of Legends skins in 2021.</b></p>
        <br>
        <p>Skins are certainly one of the reasons why League of Legends is so popular. The fancy cosmetics are an
            integral part of the League of Legends monetization model, so it doesn't come as a surprise that we
            know quite a bit about the upcoming LoL skins of 2021.</p>
        <img id="img_main_content_about" src="/images/img_about2.jpg" alt="...">
        <br/>
        <br/>
        <h2><b>How Many Skins Will LoL Get in 2021?</b></h2>
        <br/>
        <br/>
        <p>Riot employee Jonathan ‘Bellissimoh’ Belliss confirmed that the company is aiming to create about 140
            skins in 2021. In 2020, we got just short of 140 LoL skins and fortunately,
            <a href="https://www.riftfeed.gg/lol-skins/the-5-worst-lol-skins-in-history-of-the-game/" target="_blank">they are much better than
                these skins from the early days.</a> They talked about their goals regarding skins in the following video.
            <a href="https://www.youtube.com/watch?v=uDHDAfqErNI&t=6s" target="_blank">Skins & Events in Season 2021</a>
        </p>
        <br/>
        <br/>
        <h2><b>What Skins Were Already Released in 2021?</b></h2>
        <br/>
        <br/>
        <p>In 2021, we've already got quite a few skins. With the <a href="https://www.earlygame.com/lol/lol-ruination-sentinel-skins/" target="_blank"> Sentinel & Ruined skins</a> and the new
            <a href="https://www.earlygame.com/lol/lol-night-dawn-skins/" target="_blank">Dawnbringer and Nightbringer skins</a>
            included that makes 132 skins as of the writing of this article. This means, we'll be getting around 10 more in 2021.
            If that doesn't make you happy, then I don’t know. Here is a list of all the skins we've got so far:
        </p>
        <br/>
        <p class="characters"><strong>Space Groove:</strong> Lux, Blitzcrank, Nasus, Nunu & Willump, Rumble, Samira, Lulu, Prestige Lulu, Gwen</p>
        <p class="characters"><strong>Battle Academia:</strong> Caitlyn, Garen, Wukong, Yone, Leona, Prestige Leona</p>
        <p class="characters"><strong>Bees:</strong> Bee’Maw, Beezahar, Yuubee</p>
        <p class="characters"><strong>Lunar Beast:</strong> Alistar, Annie, Aphelios, Darius, Jarvan IV, Viego, Fiora, Prestige Fiora</p>
        <p class="characters"><strong>Shan Hai:</strong> Cho’Gath, Jhin, Nautilus, Neeko</p>
        <p class="characters"><strong>Ruined:</strong> Draven, Karma, Shyvana, Pantheon, Prestige Pantheon, Miss Fortune</p>
        <p class="characters"><strong>Unbound::</strong> Thresh</p>
        <p class="characters"><strong>Sentinel:</strong> Irelia, Diana, Olaf, Riven, Vayne, Pyke, Graves, Rengar</p>
        <p class="characters"><strong>Astronaut:</strong> Corki, Maokai, Rammus, Veigar</p>
        <p class="characters"><strong>Pool Party:</strong> Braum, Sett</p>
        <br/>
        <img id="img_main_content_about" src="/images/img_about3.jpg" alt="...">
        <br>
        <h2><b>What Champions Will Get Skins in 2021?</b></h2>
        <br/>
        <p class="characters"><a href="https://www.earlygame.com/lol/lol-skins-released-may-2021/" target="_blank"><strong>All LoL Skins Released in May 2021</strong></a></p>
        <br/>
        <p>In the video above, you could see an extensive list of champions that'll get a skin this year. Most of them have already received their
            cosmetics, but some haven't received their skin. You can expect new skins for the following champions:</p>
        <p class="characters"><strong>Fiddlesticks</strong></p>
        <br/>
        <p>Well, now that we're at the end of 2021 the <a href="https://www.earlygame.com/lol/lol-best-fiddlesticks-skins/" target="_blank"> Fiddlesticks skin</a>
            didn't happen. The Riot skin team has addressed this issue on Reddit and have apologized for pushing Fiddlesticks skin back to 2022 due to some roadmap issues.</p>
        <br/>
        <h2><b>What Themes Will the 2021 LoL Skins Have?</b></h2>
        <br/>
        <img id="img_main_content_about" src="/images/img_about4.png" alt="...">
        <br />
        <p id="text_img">Crime City Nightmare Twisted Fate will come to League of Legends in the third quarter of 2021 (Credit: Riot Games)</p>
        <hr>
        <br/>
        <p>We have seen star guardians, project skins, and so on and so forth. This year we will also see at least two big batches of themed s
            kins which we know, because for 2021 <a href="https://www.leagueoflegends.com/en-us/news/dev/voting-results-champion-update-skin-thematic/" target="_blank">Riot let the community choose their favorite skin theme</a> out of three given topics. This is how the players voted:</p>
        <br/>
        <ol>
            <li><strong>Crime City Nightmare</strong>: 34.4%</li>
            <br/>
            <li><strong>Debonair 2.0</strong>: 36.1%</li>
            <br/>
            <li><strong>Monster Tamers</strong>: 29.5%</li>
            <br/>
        </ol>
        <br>
        <p>LoL Patch 11.17 has arrived and all <a href="https://www.earlygame.com/lol/crime-city-nightmare-skins-leaked/" target="_blank">5 Crime City Nightmare skins</a>  are released. Since a lot of fans also voted for Debonair 2.0
            Riot decided to make this skin line also a reality this year and should be released in the fourth quarter of the year.
            I mean we already got a preview of Monster Tamer Janna, Debonair Malzahar.</p>
    </div>
</div>