<h1 id="text_index">Welcome to League of Legends</h1>
<video class="video" autoplay preload="auto" loop>
    <source src="videos/index_video.webm" type="video/webm">
    <source src="videos/index_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>