<div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
    <p class="text_title">Create an account</p>
    <div class="container-content">
        <form class="margin-t" method="post">
            <div class="form-group">
                <input class="form-control" name="username" id="username" required type="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input class="form-control" name="password" id="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"  />
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm" id="confirm" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Re-password"/>
            </div>
            <button class="form-button button-l margin-b">Sign Up</button>
            <br/>
            <br/>
            Already have an account?  <a href="/login" title="Login">Login</a>
            <hr>
            <p style="text-align: center;">Or sign up with another account</p>
            <a href="/github" title="Github"><i class="fa fa-github" style="font-size:48px;color:red"></i></a>
        </form>
    </div>
</div>