body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../images/img_background.jpg);
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}

a {
  color: #5BD4E6;
}

.table-responsive{
  font-size: 18px;
}

#default_img_size{
  width: 64px;
  height: 64px;
}

#default_img_size:hover {
  -ms-transform: scale(2.0);
  -webkit-transform: scale(2.0);
  transform: scale(2.0);
}
.champ_img {
  text-align: center;
}
.champ_img img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 15px auto 15px;
}

#hr {
  height: 2px;
  border-width: 0;
  color: grey;
  background-color: grey;
  margin-bottom: 20px;

}

#default_skin_img {
  width: 75%;
  height: 350px;
  display: block;
  margin: 15px auto 15px;
}

.card-body {
  text-align: center;
  color: blue;
  background-color: #E2E2E2;
}

.card-group {
  margin-bottom: 20px;
}

#title_about {
  text-align: center;
  margin-top: 15px;
}
#img_about1 {
  display: block;
  margin: 15px auto 15px;
  width: 800px;
  height: 512px;
}

#color_red {
  color: #FFFF21;
}
#td_index {
  color: white;
}

.text_color {
  color: red;
}

.form-group label {
  color: cyan;
}

.form-control {
  width: 40%;
}

.footer {
  text-align: center;
  background-color: grey;
  margin-top: 20px;
  height: 75px;
  position: relative;
}

.frm_form {
  display: block;
  margin-left: 500px;
}

.content_about {
  background-color: rgba(128, 128, 128, 0.082)
}
#text_img {
  text-align: center;
}

.main_content {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.characters:before {
  content:"** ";
  color: red;
}

#img_main_content_about {
  width: 75%;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#skin_name {
  color: green;
}
